
<section id="main">

  <!-- LEAF LOGO -->
  <figure id="leafLogo">
  </figure>
  <div id="shadow"></div>

  <!-- ANGULAR LOGO -->
  <figure id="angularLogo">
  </figure>

  <!-- HEADER -->
  <header id="header">
    <h1>POC - Leaf recognition using ML.NET</h1>
  </header>


  <!-- USER SECTION -->
  <section id="leftWindow">

    <section>
      <!-- INPUT BUTTON -->
      <input id="pictureInput" type="file" accept="image/*" (change)="onFileSelected($event)" />


      <!-- PREDICT BUTTON -->
      <ng-container *ngIf="!isLoading && selectedFile">
        <button id="predictButton" (click)="setSelectedFile()">Predict</button>
      </ng-container>
    </section>

    <!-- USER UPLOADED PICTURE -->
    <figure id="uploadedPicture">
      <ng-container *ngIf="selectedImageSource">
        <img id="uploadedPicture" [src]="selectedImageSource" alt="Selected Image" width="500" height="300" object-fit="cover">
      </ng-container>
    </figure>

  </section>


  <!-- FEEDBACK SECTION -->
  <section id="rightWindow">

    <!-- IF THERE IS A PREDICTION -->
    <ng-container *ngIf="(prediction$ | async) as pred; else noPrediction">

      <article id="prediction">
        <h2>Last prediction:</h2>
        <h4 id="predictionLabel"> {{ pred.predictedLabel }} </h4>
        <h2 id="percentageTitle">Probability:</h2>
        <h4 id="predictionPercentage"> {{ counter | number: '0.1-2' }}% </h4>
      </article>

    </ng-container>

    <!-- IF THERE IS NO PREDICTION -->
    <ng-template #noPrediction>

      <article id="prediction">
        <ng-container *ngIf="isLoading">
          <div id="loading-spinner"></div>
        </ng-container>

        <ng-container *ngIf="!selectedFile && !error">
          <h2>Select an image</h2>
        </ng-container>

        <ng-container *ngIf="selectedFile && !isLoading && !error">
          <h2>Click predict!</h2>
        </ng-container>

        <ng-container *ngIf="error">
          <h2> {{ error }} </h2>
        </ng-container>
      </article>

    </ng-template>

  </section>

  <!-- FOOTER -->
  <footer id="footer">
    &copy; Quentin De Munck - 2023
  </footer>

</section>




