/*MAIN*/
#main {
  display: grid;
  grid-template-columns: 2fr auto 2fr 2fr;
  grid-template-rows: 3fr 8fr 1fr;
  grid-template-areas:
    "leafLogo header header angularLogo"
    "asideLeft leftWindow rightWindow asideRight"
    "footer footer footer footer";
  color: #023020;
}

/* ANGULAR LOGO */
#angularLogo{
  grid-area: angularLogo;
  position: relative;
}

#angularLogo:before{
  content: url('../assets/angular-js-logo.png');
  position: absolute;
  top: 20px;
  left: 75px;
}

/*LEAF LOGO*/
#leafLogo {
  grid-area: leafLogo;
  position: relative;
}

#leafLogo:before {
  content: url('../assets/black-leaf.png');
  position: absolute;
  top: 20px;
  left: 20px;
  animation: bounce 2s infinite ease-in-out;
}

#shadow{
  grid-area: leafLogo;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 112px;
  left: 66px;
  z-index: -1;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(-12deg) scale(1, 1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


/* HEADERS */
#header {
  grid-area: header;
  text-align: center;
  border-bottom: 1px solid rgba(0, 100, 0, 0.2);
  margin-bottom: 20px;
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}


/*LEFT WINDOW*/
#leftWindow {
  grid-area: leftWindow;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "buttons"
    "uploadedPicture";
    border-right: 1px solid rgba(0, 100, 0, 0.2);
}

/*INPUT PICTURE*/
#pictureInput {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 100, 0, 0.2);
  float: left;
}

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background-color: #023020;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .5s ease-in-out;
  }

    input[type=file]::file-selector-button:hover {
      background-color: #006400;
    }

#predictButton {
  grid-area: buttons;
  width: 100px;
  margin-left: 50px;
  margin-top: 1px;
  height: 45px;
  border: none;
  background-color: #023020;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .5s ease-in-out;
  float: left;
}

  #predictButton:hover {
    background-color: #006400;
  }

/*USER PICTURE INPUT*/
#uploadedPicture {
  grid-area: uploadedPicture;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}


/*RIGHT WINDOW*/
#rightWindow {
  grid-area: rightWindow;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 2fr auto;
  grid-template-areas:
    "predictionLabel"
    "percentageTitle"
    "predictionPercentage";
}

/* FEEDBACK */
#prediction {
  text-align: center;
  margin-top: 100px;
}

#predictionLabel {
  grid-area: predictionLabel;
}

#percentageTitle {
  grid-area: percentageTitle;
}

#predictionPercentage {
  grid-area: predictionPercentage;
}


/*LOADING SPINNER ANIMATION*/
#loading-spinner {
  border: 8px solid rgba(0, 100, 0, 0.2);
  border-top: 8px solid #023020;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* FOOTER */
#footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
}