/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center, .front-face,
.contents, .back-face {
  position: absolute;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front-face, .back-face {
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
  background-image: url(../assets/dark-black-background-design-with-stripes_1017-38064.avif);
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}

.contents {
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.front p {
  font-size: 35px;
  margin-bottom: 15px;
  color: white;
}

.front span {
  font-size: 23px;
  color: white;
}

.front p:after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto;
  margin-top: 10px;
}

.back-face {
  transform: rotateY(180deg);
}

.back {
  color: white;
}

  .back h2 {
    font-size: 33px;
    padding-bottom: 5px;
  }

  .back span {
    font-size: 25px;
  }

.center:hover > .back-face {
  transform: rotateY(0deg);
}

.center:hover > .front-face {
  transform: rotateY(-180deg);
}

.loading-spinner {
  border: 8px solid white;
  border-top: 8px solid goldenrod;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url(../assets/dark-black-background-design-with-stripes_1017-38064.avif);
  color: white;
  padding: 10px;
  margin: 5px;
}

  .button input,
  .button button {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 0;
    color: white;
    background-color: transparent;
  }

    .button input:focus,
    .button button:focus {
      outline: groove;
    }

.uploadedImage {
  width: 250px;
  height: 250px;
  margin-left: 10px;
}*/


/*MAIN*/
#main {
  display: grid;
  grid-template-columns: 2fr auto auto 2fr;
  grid-template-rows: 5fr auto 1fr;
  grid-template-areas:
    "leafLogo header header asideRight"
    "angularLogo leftWindow rightWindow asideRight"
    "footer footer footer footer";
  color: #023020;
}

/* ANGULAR LOGO */
#angularLogo{
  grid-area: angularLogo;
  content: url('../assets/angular-logo.png');
  width: 125px;
  margin-top: 50px;
  object-fit: cover;
  mix-blend-mode: color-burn;
}

/*LEAF LOGO*/
#leafLogo {
  grid-area: leafLogo;
  position: relative;
}

#leafLogo:before {
  content: url('../assets/black-leaf.png');
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f00;
  animation: bounce 2s infinite ease-in-out;
}

#shadow{
  grid-area: leafLogo;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 112px;
  left: 66px;
  z-index: -1;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(-12deg) scale(1, 1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


/*HEADER*/
#header {
  grid-area: header;
  text-align: center;
  border-bottom: 1px solid #023020;
  margin-bottom: 20px;
}

h1 {
  font-size: xx-large;
}

h4 {
  font-size: xx-large;
}


/*FOOTER*/
#footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
}


/*LEFT WINDOW*/
#leftWindow {
  grid-area: leftWindow;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "buttons"
    "uploadedPicture";
}

/*INPUT PICTURE*/
#pictureInput {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
  float: left;
}

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background-color: #023020;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .5s ease-in-out;
  }

    input[type=file]::file-selector-button:hover {
      background-color: #006400;
    }

#predictButton {
  grid-area: buttons;
  width: 100px;
  margin-left: 50px;
  margin-top: 1px;
  height: 45px;
  border: none;
  background-color: #023020;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .5s ease-in-out;
  float: left;
}

  #predictButton:hover {
    background-color: #006400;
  }


/*USER PICTURE INPUT*/
#uploadedPicture {
  grid-area: uploadedPicture;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}


/*RIGHT WINDOW*/
#rightWindow {
  grid-area: rightWindow;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 2fr auto;
  grid-template-areas:
    "predictionLabel"
    "percentageTitle"
    "predictionPercentage";
}

#prediction {
  text-align: center;
  margin-top: 100px;
}

#predictionLabel {
  grid-area: predictionLabel;
  font-size: xx-large;
}

#percentageTitle {
  grid-area: percentageTitle;
  font-size: xx-large;
}

#predictionPercentage {
  grid-area: predictionPercentage;
  font-size: xx-large;
}

/*LOADING SPINNER ANIMATION*/
#loading-spinner {
  border: 8px solid white;
  border-top: 8px solid #023020;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
