
<h1>LEAF RECOGNIZER</h1>

<section id="mainmenu">
  <div class="button">
    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <div class="button" *ngIf="!isLoading">
    <button (click)="predict()">Predict</button>
  </div>
</section>

<section id="flipcard" class="center" >

  <section class="front-face">
    <figure class="contents front">

      <ng-container *ngIf="error && !isLoading">
        <p> {{ error }} </p>
      </ng-container>

      <ng-container *ngIf="fileName && !error && !isLoading">
        <p>Click predict and flip to see the result</p>
      </ng-container>

      <ng-container *ngIf="!fileName && !error && !isLoading">
        <p>Select an image</p>
      </ng-container>

      <ng-container *ngIf="isLoading">
        <div class="loading-spinner"></div>
      </ng-container>

    </figure>
  </section>

  <section class="back-face">
     <figure class="contents back">
      
      <ng-container *ngIf="prediction; else noPrediction">
        <h2> {{ prediction.predictedLabel| uppercase }} </h2>
      </ng-container>

      <ng-template #noPrediction>
        <p>Select an image and click predict!</p>
      </ng-template>

     </figure>
  </section>

</section>
